<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Helpdesk - ADMIN!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>

<div class="container">

    <h2 class="my-3">Справочники</h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Название</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="align-middle">Категории</td>
            <td class="align-middle text-center"><a class="btn btn-primary" th:href="@{/admin/title/}">Открыть
                список</a></td>
        </tr>
        <tr>
            <td class="align-middle">Пользователи</td>
            <td class="align-middle text-center"><a class="btn btn-primary" th:href="@{/admin/user/}">Открыть список</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:insert="core/general.html :: footer"/>
</body>
</html>
